tbody tr {
  .img-table {
    width: 100px;
    height: 80px;
    object-fit: cover;
  }

  td {
    padding: 10px;
    font-size: 18px;
    min-width: 120px !important;
  }

  .product-name {
    font-size: 20px;
    font-weight: 700;
  }

  .delete {
    font-weight: 700px !important;
    button {
      width: 50px;
      height: 50px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      .delete-btn {
        font-size: 3rem;
        font-weight: 500;
      }
    }
  }
}

.quatity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ebebeb;
  width: 123px;
  height: 46px;

  span {
    font-family: 700;
    font-size: 20px;
    user-select: none;
  }

  .subtraction,
  .sumation {
    display: inline-block;
    font-size: 24px;
    padding: 0 8px;
    cursor: pointer;
  }
}
