.product-image {
  width: 36%;
  display: flex;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  .img-sp {
    margin: 40px;
    img {
      width: 350px;
      // height: 380px;
      object-fit: cover;
      border: 2px solid var(--primary-color);
      border-radius: 5px;
    }
  }

  .alt {
    .img-ac {
      &.active {
        border: 2px solid red;
      }
      margin-top: 10px;
      width: 100px;
      height: 70px;
      border: 1px solid gray;
      border-radius: 10%;
    }
  }
}
