.product-info {
  font-size: 16px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;


  .line {
    background: rgb(222, 221, 221);
    width: 1px;
    height: 500px;
    margin-top: 7px;
  }

  .info {
    margin-left: 30px;

    p {
      span {
        color: rgb(216, 164, 9);
      }
    }

    .feedback {
      margin-top: 10px;
      

      i {
        color: rgb(216, 164, 9);
      }
     
    }

    .color {
      margin-top: 20px;
      display: flex;
      p{
        margin-right: 10px;
      }
      .cls{
        margin-left: 40px;
        display: flex;
        input{
          width: 20px;
          height: 20px; 
        }
        .cln{
          padding-left: 10px;
        }
      }

     

      // .cls{
      //   display: flex;

      //   .red {
      //     background: red;
      //     width: 20px;
      //     height: 20px;
      //     margin-right: 10px;
      //     border-radius: 100%;
      //   }
  
      //   .green {
      //     background: green;
      //     width: 20px;
      //     height: 20px;
      //     margin-right: 10px;
      //     border-radius: 100%;
      //   }
  
      //   .black {
      //     background: black;
      //     width: 20px;
      //     height: 20px;
      //     margin-right: 10px;
      //     border-radius: 100%;
      //   }
      // }

      
    }
    .price{
      margin-top: 20px;
      font-size: 3rem;
    }
    

    .size {
      margin-top: 20px;
      p {
        span{
          font-weight: bold;
          color: "rgb(216, 164, 9)";
        }
      }

      .size-detail {
        float: left;

        button {
          width: 70px;
          height: 30px;
          margin-right: 10px;
          margin-top: 10px;
        }
      }
    }

    .ship{
      margin-top: 10px;
    }

    .soluong {
      clear: both;
      display: flex;
      margin-top: 80px;

      p{
        padding-right: 20px
      }

      button {
        width: 30px;
        height: 30px;

      }

      h4 {
        width: 30px;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border: 1px solid rgb(216, 214, 214);

      }
    }

    .but-add {
      display: plex;
      margin-top: 30px;
      margin-bottom: 10px;
      button {
        width: 200px;
        height: 50px;
        margin-right: 30px;
      }
      .add{
        background: black;
        color: white;
        font-weight: 600;
      }
      .buy{
        border: 2px solid black;
        font-weight: 600;
      }
    }
  }
}

.sptt{
  margin-top: 40px;
  zoom: 0.8;
  .bestsale_banner__MUh0S{
    display: none;
  }
}