.product-block-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  // overflow: auto;
  // height: 130vh;

  h1 {
    width: 100%;
    padding: 10px;
  }
}

.product-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .page {
    color: red;
    position: absolute;
    top: 24px;
    /* font-weight: 400 !important; */
    font-size: 1.5rem !important;
    right: 30px;
  }
  .css-1p5q5e5-MuiStack-root {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
