.header {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  &::after {
    content: "";
    background-color: #634dee;
    height: 70%;
    width: 100%;
    position: absolute;
    top: -10%;
    left: 0;
    z-index: -3;
    border-radius: 5px;
  }
  .header-between {
    position: relative;
    display: flex;
    justify-content: space-between;

    h5 {
      color: white;
      font-size: 24px;
    }
    button {
      background-color: white;
      padding: 8px 16px;
      color: var(--white-color);
      font-size: 14px;
      min-width: 230px;
      font-weight: 500;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      margin: 32px 10px;
      border-radius: 5px;
      flex: 1;
      background-color: white;
      padding: 24px;
      box-shadow: 0 2px 4px rgb(0 0 20 / 8%), 0 1px 2px rgb(0 0 20 / 8%);
    }
    .header-items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      h4 {
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    h1 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 8px;
      color: var(--primary-color);
      span {
        font-size: 1.8rem;
        color: var(--text-color);
      }
    }
    .content-items {
      display: flex;
      font-size: 16px;
      margin-top: 6px;
    }
    span {
      margin-right: 8px;
    }
  }
  .increase-icon {
    color: rgb(35, 221, 35);
    font-size: 2.6rem;
  }
  .reduce-icon {
    color: red;
    font-size: 2.6rem;
  }
}
