.wrap {
  max-width: 100%;

  td {
    text-align: start;
    padding: 10px;
    min-width: 50px !important;
    text-transform: capitalize;
    border: 0.2px solid #ccc;
  }
}
.info {
  display: flex;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  h4 {
    font-size: 16px;
  }
}
