.comment {
  width: 100%;
  max-width: 490px;
  padding: 5px 20px;

  .res-wrap {
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 10px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-right: 10px;
      object-fit: contain;
      border-radius: 1px solid #ccc;
    }

    .user-info {
      .username {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--text-color);
        text-transform: capitalize;

        span {
          font-size: 1.4rem;
          font-weight: 400;
          color: rgb(148, 147, 147);
          text-transform: capitalize;
          margin: 0 5px;
        }
      }
      .text-comment {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--text-color);
      }
    }
  }
}
