.header {
  .header-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #ccc;

    .contact-list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        font-size: 1.4rem;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          color: var(--primary-color);
        }
      }

      li + li {
        border-left: 1px solid #ccc;
      }
    }
  }

  .header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    border-bottom: 1px solid #ccc;

    .div{
      min-width: 30%;
    }

    .logo {
      h1 {
        font-size: 2.6rem;
        font-weight: 700;
      }
    }

    .search-wrap {
      width: 600px;
      height: 50px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .search-input {
        margin: 0 20px;
        width: 100%;
        font-size: 1.5rem;
        color: var(--text-color);
        flex: 1;
        z-index: 3;
        background-color: transparent;
      }

      .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        color: var(--text-color);
        background-color: var(--primary-color);
      }
    }

    .action-btn {
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
          padding: 10px;
          position: relative;
          cursor: pointer;

          &.cart {
            position: relative;

            &:hover .cart-noti {
              display: flex;
              top: 40px;
            }
            &:hover .noti-container-wrap {
              display: flex;
              top: 40px;
            }
          }
          &::before {
            content: "";
            width: 50px;
            height: 20px;
            background-color: transparent;
            position: absolute;
            top: 30px;
            right: -10px;
          }

          span {
            display: block;
            position: absolute;
            top: -6px;
            right: 0px;
            padding: 3px;
            border-radius: 10px;
            background-color: var(--primary-color);
            color: var(--white-color);
            font-weight: 400;
          }
        }
      }
    }
  }

  .header-nav {
    border-bottom: 1px solid #ccc;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        a {
          text-decoration: none;
          font-size: 1.8rem;
          font-weight: 600;
          color: var(--text-color);
          text-transform: uppercase;
          width: 100%;
          height: 100%;
          padding: 10px 20px;
          transition: all ease 0.3s;
          display: block;

          &:hover {
            color: var(--white-color);
            background-color: var(--primary-color);
          }
        }

        .active-item {
          background-color: var(--primary-color);
          color: var(--white-color);
        }
      }

      li + li {
        border-left: 1px solid #ccc;
      }
    }
  }
}
